details {
	margin: 10px;
	padding: 5px;

	border: solid 2px black;
	border-radius: 3px;

	background: lightgray;
}

details img {
	border-radius: 5px;

	max-width: 20%;

	display: block;
}

summary {
	list-style: none;
}

code {
	background: black;
	color: white;

	border-radius: 5px;

	padding: 4px;

	margin-right: 5px;
}

.hide {
	display: none;
}

blockquote {
	border: solid 1px black;
	border-radius: 5px;

	padding: 5px;

	background: gray;
}

blockquote > p {
	margin-top: 0;
}

h3 {
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;

	align-items: center;
}

body > * {
	max-width: 100%;
}

h1 {
	margin: 0;
}

time {
	font-size: 0.7em;
	background: gray;
	color: white;

	padding: 2px;
	margin: 1px;

	border-radius: 5px;
}
